rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    include "helpers.rules";
    include "users.rules";
    include "mutuals.rules";
    include "posts.rules";
    include "conversations.rules";
    include "notifications.rules";
    include "reviews.rules";
    include "collections.rules";
    include "plans.rules";
    include "articles.rules";
    include "user_preferences.rules";
    include "follows.rules";
  }
}
